<%- include header %>
<% posts.forEach(function (tag, index) { %>
	<% if (tag != "") { %>
		<a class="btn btn-info btn-sm" href="/tags/<%= tag %>"><%= tag %></a>
	<% } %>
<% }) %>
<%- include footer %>