<%- include header %>
<ol class="breadcrumb">
  <li><a href="/">首页</a></li>
  <li class="active"><%= title %></li>
</ol>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><%= title %></h3>
    </div>
    <div class="panel-body">
        <video poster="fruit_4.png" controls="controls" src="http://vshare.ys7.com:80/openlive/550333364_1_1.m3u8?ticket=L09BcCtUcG4weTRMMThjK2FpOEZ3ZnRoSmc4Z1ovUXd2NFFwZS9UTUVCQT0kMSQyMDE3MDUwNDExMzI1NCQxNDYyMzMyNTYzMDAwJDE0OTM4Njg1NjMwMDAkMSQkJA==" autoplay="autoplay" width="100%" height="100%" id="farm_1"></video>
    </div>
</div>
<%- include footer %>